[Unit]
Description = Caption service

[Service]
ExecStart = /usr/bin/caption-server --config /etc/caption.toml

[Install]
WantedBy = multi-user.target
